.modal-calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
}

.calendar-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 30%;
}

@media screen and (max-width: 768px) {
    .calendar-card{
        width: 100%;
    }
}
